@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --darkGray: rgb(161, 161, 161);
  --black: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --veryDarkGray: rgb(69, 69, 69);
}

* {
  font-size: 14px;
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
