@mixin hoverstate($color) {
  position: relative;
  font-weight: 700;
  &::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 3px;
    border-radius: 15px;
    background-color: $color;
    transform: translateX(-50%);
    transition: 0.2s width ease-in-out;
  }
  &:hover::after {
    width: 50%;
  }
}

.Nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 50px;
  display: flex;
  align-items: center;
  gap: 60px;
  overflow: hidden;
  &__black-screen {
    display: none;
  }
  &__desktop-list {
    display: flex;
    gap: 30px;
  }
  &__mobile-menu {
    display: none;
  }
  &__desktop-item {
    color: var(--white);
    cursor: pointer;
    //animation
    @include hoverstate(var(--white));
  }
  @media screen and (max-width: 450px) {
    width: 100vw;
    padding: 30px 30px;
    &__black-screen {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: black;
      opacity: 0;
      transform: translateX(-150%);
      transition: 0.5s opacity ease-in-out, 0s transform 0.5s;

      &--show {
        opacity: 0.5;
        transform: translateX(0);
        transition: 0.5s opacity ease-in-out;
      }
    }
    &__desktop-list {
      display: none;
    }
    &__mobile-menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &__mobile-list {
      position: relative;
      display: flex;
      gap: 15px;
      transform: translateY(-100px);
      transition: 0.2s transform ease-in-out;
      //   background behind mobile menu
      &::after {
        content: "";
        position: absolute;
        top: -50px;
        left: -250px;
        width: 500px;
        height: 100px;
        background-color: var(--white);
        z-index: 10;
      }
      &--active {
        transform: translateY(0);
      }
    }
    &__mobile-item {
      z-index: 11;
      cursor: pointer;
      font-weight: 700;
      @include hoverstate(var(--black));
    }
    &__hamburger-wrapper {
      cursor: pointer;
      position: relative;
      z-index: 100000;
    }
    &__logo-wrapper {
      position: absolute;
      left: 50vw;
      transform: translateX(-50%);
    }
  }
}
