@mixin arr($left, $bottom, $width, $height) {
  position: absolute;
  width: $width;
  height: $height;
  background-color: var(--black);
  left: $left;
  bottom: $bottom;
  z-index: 123;
  display: flex;
}

.Slider {
  display: flex;
  width: 100%;
  height: 100%;
  @media screen and (max-width: 800px) {
    flex-direction: column;
    align-items: center;
  }
  &__carousel {
    width: 60%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 800px) {
      width: 100%;
      height: 360px;
    }
  }
  &__arrows {
    @include arr(0, 0, 10vw, 5vw);
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
  &__arrows2 {
    @include arr(calc(100% - 100px - 15px), 0, 100px, 50px);
    display: none;
    @media screen and (max-width: 800px) {
      display: flex;
    }
  }
  &__btn {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: var(--veryDarkGray);
    }
  }
  &__images {
    width: 100%;
    flex-shrink: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: transform 1s ease-in-out;
    // transform: translateX(-200%);
  }
  &__info {
    width: 40%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
    @media screen and (max-width: 800px) {
      width: 100%;
      // max-width: 600px;
      padding: 50px 0;
      height: auto;
    }
  }
  &__info-slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    // transform: translateX(-100%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
  }
  &__info-wrapper {
    width: 65%;
    h1 {
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      margin-bottom: 40px;
    }
    p {
      color: var(--darkGray);
    }
    @media screen and (max-width: 1100px) {
      width: 85%;
      max-width: 400px;
      h1 {
        font-size: 35px;
        line-height: 40px;
        margin-bottom: 30px;
      }
    }
  }
  &__arrow {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 16px;
    margin-top: 30px;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
    img {
      transition: filter 0.2s ease-in-out;
    }
    &:hover {
      color: var(--darkGray);
      img {
        filter: invert(72%) sepia(0%) saturate(42%) hue-rotate(206deg)
          brightness(88%) contrast(99%);
      }
    }
  }
}
